<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443235369016-u4g32b00outmtoj1j5cdic5srnjqgfjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443235369016-u4g32b00outmtoj1j5cdic5srnjqgfjg</string>
	<key>API_KEY</key>
	<string>AIzaSyBGDK6wbR49pixSAQZ6F8mkDTCBYO0hOHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443235369016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fukaya.swift5LineChatApp1</string>
	<key>PROJECT_ID</key>
	<string>swift5linechatapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5linechatapp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443235369016:ios:6d30eed07695909558e6cd</string>
	<key>DATABASE_URL</key>
	<string>https://swift5linechatapp1.firebaseio.com</string>
</dict>
</plist>